connections {
	{{ item.key }} {
		version = {{ item.value['ike']['version'] }}

		local_addrs = {{ item.value['local_addrs'] }}
		remote_addrs = {{ item.value['remote_addrs'] }}
		local {
			auth = psk
{% if 'local_id' in item.value['auth'] %}
			id = {{ item.value['auth']['local_id'] }}
{% endif %}
		}
		remote {
			auth = psk
{% if 'remote_id' in item.value['auth'] %}
			id = {{ item.value['auth']['remote_id'] }}
{% endif %}
		}
		proposals = {{ item.value['ike']['proposals'] }}
		rekey_time = {{ item.value['ike']['rekey_time'] }}
		if_id_in = {{ item.value['xfrm_id'] }}
		if_id_out = {{ item.value['xfrm_id'] }}
		children {
{% for ts in item.value['traffic_selectors'] %}
			{{ ts['name'] }} {
				local_ts  = {{ ts['local_ts'] }}
				remote_ts = {{ ts['remote_ts'] }}
				esp_proposals = {{ item.value['ipsec']['proposals'] }}
				rekey_time = {{ item.value['ipsec']['rekey_time'] }}
				start_action = {{ item.value['start_action'] }}
				hw_offload = auto
			}
{% endfor %}
		}
	}
}

secrets {
	ike-{{ item.key }}-1 {
{% if 'local_id' in item.value['auth'] %}
		id = {{ item.value['auth']['local_id'] }}
{% endif %}
		secret = {{ item.value['auth']['secret'] }}
	}
	ike-{{ item.key }}-2 {
{% if 'remote_id' in item.value['auth'] %}
		id = {{ item.value['auth']['remote_id'] }}
{% endif %}
		secret = {{ item.value['auth']['secret'] }}
	}
}
